body {
  background-color: #282828 !important;
}
h1 {
  color: #2BAD6F !important;
}
.container {
  text-align: center;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.col-sm-4 {
  padding: 20px;
}
.round-square {
  min-height: 180px;
  height: auto;
  border: 2px solid #A4A4A4;
  border-radius: 15px;
  text-align: center;
  padding-top: 5px;
}
.round-square h5 {
  color: #008141;
}
.round-square p {
  color: #A4A4A4;
  font-weight: bold;
}
.car-image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  margin-left: 12.5%;
  height: auto;
  max-height: 125px;
}
.row:nth-child(odd) {
  border-bottom: 2px solid #464646;
}
.col-sm-4:nth-child(2) {
  border-left: 2px solid #464646;
}
.col-sm-4:nth-child(2) {
  border-right: 2px solid #464646;
}
.car-data {
  width: 100%;
  display: block;
  height: auto;
  z-index: 100;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.flipcard {
  perspective: 800;
  -moz-perspective: 800;
  -webkit-perspective: 800;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
}
.flipcard.flipped {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.flipcard .face {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flipcard .front {
  display: block;
}
.flipcard.flipped .front {
  display:none;
}
.flipcard .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  display: none;
  margin-top: 20px;
}
.flipcard.flipped .back {
  display: block;
}
.dark-car-image {
  z-index: -1;
  position: absolute;
  filter: brightness(30%);
}
.clicked {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(110,110,112,1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(110,110,112,1);
  box-shadow: 0px 0px 20px 10px rgba(110,110,112,1);
}
#race {
  width: 100%;
  float: left;
  display: block;
  position: relative;
  margin-top: 20px;
  color: #282828;
}
#road {
  width: 100%;
  float: left;
  display: block;
  border: 2px solid #A4A4A4;
  border-radius: 10px;
  z-index: -1;
}
.road-line {
  width: 100%;
  height: 60px;
  float: left;
  display: block;
  border-bottom: 1px solid #A4A4A4;
  background-color: #464646;
}
.road-part {
  width: 10%;
  height: 60px;
  float: left;
  border-right: 1px solid #A4A4A4;
}
.road-header-line {
  width: 100%;
  height: 30px;
  margin-left: 9%;
}
.road-header-part {
  width: 10%;
  height: 30px;
  float: left;
  text-align: left;
  color:  #AAAAAA;
}
#race-cars {
  width: 100%;
  float: left;
  position: absolute;
  z-index: 100;
  height: auto;
} 
.race-car-line {
  width: 100%;
  height: 60px;
  padding-top: 10px;
}
.race-car {
  width: 6%;
  height: 40px;
  margin-left: 2%;
  border: 2px solid white;
  border-radius: 10px;
  padding-top: 5px;
  position: relative;
  -webkit-box-shadow: 0px 0px 3px 2px #A4A4A4;
  -moz-box-shadow: 0px 0px 3px 2px #A4A4A4;
  box-shadow: 0px 0px 3px 2px #A4A4A4;
}
.race-car-image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  margin-left: 5%;
  height: auto;
  max-height: 125px;
  z-index: -1;
  position: absolute;
}
.traffic-sign {
  width: 100%;
  float: left;
  position: absolute;
  z-index: 10;
}
.speed-sign {
  position: relative;
  width: 10%;
  float: left;
}
.vertical-line-speed {
  border-left: 8px dashed #A4A4A4;
  margin-left: 46%;
  margin-bottom: 5px;
}
.limit {
  text-align: center;
  font-size: 1.8em;
  width: 100%;
  height: auto;
  padding-top: 18px;
  border: 5px solid #A4A4A4;
  border-radius: 50%;
  color: white;
  display: block;
}
.traffic-lights {
  position: relative;
  width: 100%;
  float: left;
}
.vertical-line-lights {
  border-left: 8px dashed #A4A4A4;
  margin-left: 26px;
  margin-bottom: 5px;
}
.traffic-lights-rect {
  width: 20%;
  height: 120px;
}
.red-light {
  background-image: url('../images/red.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -10px;
}
.green-light {
  background-image: url('../images/green.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -10px;
}
.commands {
  width: 100%;
  height: 50px;
  float: left;
  display: block;
  margin-top: 100px;
  position: absolute;
}
#animation-speed {
  width: 20%;
  float: right;
  height: 30px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #A4A4A4;
  color: black;
  padding: 5px;
}
#start {
  width: 20%;
  float: right;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: #008141;
  color: white;
}
input:focus{
  outline: none;
}
.race-car-image-dark {
  filter: brightness(20%);
}
.first-place {
  text-align: center !important;
  color: #FFD700 !important;
}
.second-place {
  text-align: center !important;
  color:	#C0C0C0 !important;
}
.third-place {
  text-align: center !important;
  color:	#cd7f32  !important;
}