body {
  background-color: #282828 !important;
}
h1 {
  color: #2BAD6F !important;
}
.container {
  text-align: center;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.col-sm-4 {
  padding: 20px;
}
.round-square {
  min-height: 180px;
  height: auto;
  border: 2px solid #A4A4A4;
  border-radius: 15px;
  text-align: center;
  padding-top: 5px;
}
.round-square h5 {
  color: #008141;
}
.round-square p {
  color: #A4A4A4;
  font-weight: bold;
}
.car-image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  margin-left: 12.5%;
  height: auto;
  max-height: 125px;
}
.row:nth-child(odd) {
  border-bottom: 2px solid #464646;
}
.col-sm-4:nth-child(2) {
  border-left: 2px solid #464646;
}
.col-sm-4:nth-child(2) {
  border-right: 2px solid #464646;
}
.car-data {
  width: 100%;
  display: block;
  height: auto;
  z-index: 100;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.flipcard {
  perspective: 800;
  -moz-perspective: 800;
  -webkit-perspective: 800;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
}
.flipcard.flipped {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.flipcard .face {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flipcard .front {
  display: block;
}
.flipcard.flipped .front {
  display:none;
}
.flipcard .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  display: none;
  margin-top: 20px;
}
.flipcard.flipped .back {
  display: block;
}
.dark-car-image {
  z-index: -1;
  position: absolute;
  filter: brightness(30%);
}
.clicked {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(110,110,112,1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(110,110,112,1);
  box-shadow: 0px 0px 20px 10px rgba(110,110,112,1);
}
