<script id="car" type="x-tmpl-mustache">
	<div class='col-sm-4'>
		<div class="flipcard round-square " id="car{{id}}">
			<div class='face front'>
				<div class="car-data">
					<h5>{{name}}</h5>
				</div>
				<img src={{image}} alt={{name}} class="car-image" />
			</div>
			
			<div class='face back'>
				<img src={{image}} alt={{name}} class="car-image dark-car-image" />
				<div class="car-data">
					<p>{{description}}</p>
					<h5>Speed: {{speed}}km/h</h5>
				</div>
				
			</div>
		</div>
	</div>
</script>
      
