<script id="index" type="x-tmpl-mustache">
  <div class="container">
    <h1> Welcome to the HTEC CARS RACE </h1>
    
    <table id="cars"></table>
    
    <div id="race">
      <div id="road-header"></div>
      <div id="road">
        <div id="lanes"></div>
      </div>
      <div id="race-cars"></div>
      <div id="signs"></div>
      <div>
        Commands
      </div>
      <div class="commands">
        <input type="submit" id="start" class="button">START</button>
        <input type="number" id="animation-speed" placeholder="Animation speed" />
      </div> 
    </div>

  </div>
</script>