<script id="road-header" type="x-tmpl-mustache">
  <div class="road-header-line">
    <div class="road-header-part"> {{first}} </div>
    <div class="road-header-part"> {{second}} </div>
    <div class="road-header-part"> {{third}} </div>
    <div class="road-header-part"> {{fourth}} </div>
    <div class="road-header-part"> {{fifth}} </div>
    <div class="road-header-part"> {{sixth}} </div>
    <div class="road-header-part"> {{seventh}} </div>
    <div class="road-header-part"> {{eighth}} </div>
    <div class="road-header-part"> {{ninth}} </div>
  </div>
</script>